<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table th:fragment="jobDisplay" class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <p th:text="'ID: ' + ${job.id}">Jobs</p>
                <p th:text="'Name: ' + ${job.name}">Jobs</p>
                <p th:text="'Employer: ' + ${job.employer}">Employer</p>
                <p th:text="'Location: ' + ${job.location}">Location</p>
                <p th:text="'Position Type: ' + ${job.positionType}">Position Type</p>
                <p th:text="'Skill: ' + ${job.coreCompetency}">Core Competency</p>
            </td>
        </tr>
    </table>
<!--    <table class="job-listing" th:each="job : ${jobs}">-->
<!--        <tr>-->
<!--            <td th:text="'ID: ' + ${job.id}">Job</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="'Name: ' + ${job.name}">Name</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="'Employer: ' + ${job.employer}">Employer</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="'Location: ' + ${job.location}">Location</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="'Position Type: ' + ${job.positionType}">Position Type</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="'Skill: ' + ${job.coreCompetency}">Skill</td>-->
<!--        </tr>-->
<!--    </table>-->

</div>

</body>
</html>